{
  "extends": [ "stylelint-config-standard" ],
  "rules": {
      "at-rule-empty-line-before": [ "always", {
        "except": ["blockless-after-blockless", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["else","each","at-root"]
      }]
  }
}
