.userAndPassword {
  color: black;
}

.paper {
  width: 300px;
}

.loginButton {
  margin-bottom: 20px;
  margin-top: 20px;
}

.inputField {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 70px !important;
}
